*{
    box-sizing: border-box;
}
main{
    background-color: #f0f1fd;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.header{
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 570px;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    margin: 0 100px;
   
}
.nav-title{
    font-size: 2em;
    color: #4E47FF;
    font-weight: bolder;

}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    font-weight:bold ;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}
.banner{
    text-align: center;
    font-weight: 900px;
    margin-top: 100px;

}
.banner-title{
    font-weight: bold;
    font-size: 50px;
    color: #252432;
}
.features{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    height: 260px;
    gap: 120px;
    text-align: left;
    margin:0px auto;
    padding: 4px 60px;
    border-radius: 48px;
    padding-top: 50px;
}
.feature-item{
    text-align: left;
    align-items: start;
    padding: 0px;
    font-size: 20px;
}
.feature-title{
    font-weight: bold;
}

.feature-description{
    color: #757575;
}
.feature-img{
    width: 350px;
    height: 260px;
    border-radius: 40px;
    position: right;
}
.feature-2{
    text-align: center;
    align-items: center;
    background-color: #e8eaff;
      padding: 40px 20px;
      max-width: 980px;
      margin: 50px auto;
      border-radius: 10px;
      margin-top: 120px;
}
.feature-title2{
    font-size: 30px;
}
.feature-followers{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 85px;
     flex-wrap: wrap;
   
    
}
.followers-number{
    font-size: 60px;
    color: #4E47FF;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.followers-text{
    color: #757575;
    font-size: 16px;
    margin-top: 0 ;
}

.review-section {
  max-width: 1140px;
  margin: 50px auto;
  padding: 40px 20px;
  margin-top: 20px;
}

.feedback-wrapper {
  display: flex;
  gap: 24px;
  padding: 50px;
 
}
.review-title{
    text-align: center;
    font-size: 35px;
}
.feedback-container {
  
  padding: 30px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 4px 40px rgba(0,0,0,0.06);
}
.review-container{
    display: flex;
     align-items: center;
     gap: 10px;
    margin-top: 10px;
}

.feedback-title {
  margin: 10px 0 5px;
}

.feedback-description {
  font-size: 14px;
  color: #262626;
}

.review-img{
    width: 50px;
    height: 60px;
    border-radius: 50%;
}
.review-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review-container p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.date-section {
  
  color: #979696 ;
  padding: 0;
  margin-top: 0;
}
.extra-section{
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    background-color: #FFFFFF;
    
     padding: 20px 20px;
      max-width: 1000px;
      margin: 50px auto;
      height: 620px;
}
.extra-section h1{
    font-size: 50px;
}
.extra-description{
    color: #757575;
    padding-top: 0;
}
.extra-img{
    border-radius: 48px;
    margin-top: 20px;
    height: 50%;
}
.form-section{
    margin-top: 100px;
      max-width: 1000px;
      margin: 50px auto;
      padding-top: 20px;
    
}
.form-container{
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin: 0 80px;
  gap:100px;
}
.form-heading{
    padding-top: 40px;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
}
input[type="text"],
input[type="email"],
textarea{
    
    width: 400px;
    font-size: 1em;
    border-radius:5px ;
    font-family: inherit;
    border: 1px solid #e2dfdf;
    padding: 10px 20px;
    margin-bottom: 10px;
    
}
.form-fill-up{
    text-align: left;
}
.form-fill-up label{
    font-family: bolder;
    font-size: 20px;
}
.btn-primary2{
    background-color: #4E47FF;
    color: white;
    font-weight:bold ;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    width: 400px;
}
 button:hover {
      background-color: #a50bd4;
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
.footer{
    text-align: center;
    padding: 50px;
    border-top: 2px solid #e6e4e4;
    margin-top: 0;
}
.logo-head{
    font-weight: bolder;
    font-size: 80px;
    color:#4E47FF;
}
.footer p{
    justify-content: left;
    font-size: 20px;
    color:#757575;
    padding: 0;
}
.navber{
    display: flex;
    justify-content: center;
    gap:5px;
    margin-top:10px;
}
nav ul{
    display: flex;
    align-items: center;
  
}  
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    color:#757575;
    text-decoration: none;
    font-size: 20px;

}
nav a:hover{
    color:#2019f9;
}


