.body{
    padding: 0;
    margin: 0;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header{
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 570px;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
   
}
.nav-title{
    font-size: 2em;
    color: #4E47FF;
    font-weight: bolder;

}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    font-weight:bold ;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
.banner{
    text-align: center;
    font-weight: 900px;
    margin-top: 100px;

}
.banner-title{
    font-weight: bold;
    font-size: 50px;
    color: #252432;
}
.features{
    display: flex;
    max-width: 1000px;
    height: 260px;
    gap: 120px;
    text-align: left;
    margin:0px 200px;
    margin-top: 80px;
}
.feature-item{
    text-align: left;
    align-items: start;
    padding: 0px;
}
.feature-title{
    font-weight: bold;
}

.feature-description{
    color: #757575;
}
.feature-img{
    width: 350px;
    height: 260px;
    border-radius: 40px;
}
.feature-2{
    text-align: center;
    align-items: center;
    background-color: #e8eaff;
      padding: 40px 20px;
      max-width: 1000px;
      margin: 50px auto;
}
.feature-title2{
    font-size: 30px;
}
.feature-followers{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 85px;
     flex-wrap: wrap;
   
    
}
.followers-number{
    font-size: 45px;
    color: #4E47FF;
    margin: 0;
}
.followers-text{
    color: #757575;
    font-size: 16px;
    margin-top: 0 ;
}